.cases_container {
  &__header {
    display: flex;
    margin: 10px 60px;
    align-items: center;
    &__title {
      font-size: 64px;
      font-weight: bold;
      padding: 5px 20px;
      margin-right: 80px;
      cursor: pointer;
      color: rgba($color: #000000, $alpha: 0.4);
    }
    .active {
      color: #000;
    }
  }
  &__body {
    margin: 10px 60px;
    &__all_cases {
      margin: 10px;
      padding: 20px;
      &__case {
        margin: 10px;
        padding: 20px 40px;
        border: 1px solid #eee;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s linear;
        &:hover {
          background: #eee;
          border: 1px solid #ddd;
          transform: scale(1.05);
          transition: 0.2s linear;
        }
        .assigned {
          color: #f44336;
        }
        &__id {
          color: rgba($color: #000000, $alpha: 0.6);
          span {
            float: right;
          }
        }
        &__title {
          margin: 10px 0;
          font-weight: bold;
        }
        &__description {
          font-style: italic;
        }
      }
    }
    &__all_invoices {
      margin: 10px;
      padding: 20px;
      &__invoice {
        margin: 10px;
        padding: 20px 40px;
        border: 1px solid #eee;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s linear;
        &:hover {
          background: #eee;
          border: 1px solid #ddd;
          transform: scale(1.05);
          transition: 0.2s linear;
        }
        &__no {
          margin-bottom: 10px;
          span {
            float: right;
          }
          .approved {
            color: #4acf50;
          }
        }
        &__case {
          color: rgba($color: #000000, $alpha: 0.6);
        }
      }
    }
  }
  .info {
    p {
      margin: 10px 0px;
    }
    .case_id {
      color: rgba($color: #000000, $alpha: 0.6);
      font-style: italic;
    }
  }
  .actions {
    margin-top: 50px;
    display: flex;
    span {
      padding: 10px 15px;
      font-size: 18px;
      border-radius: 5px;
      cursor: pointer;
      color: #fff;
      transition: 0.2s linear;
      &:hover {
        transform: scale(1.05);
        transition: 0.2s linear;
      }

      &.revoke_approval {
        background: #f44336;
      }
      &.approve {
        background: #4acf50;
      }

      &.reassign {
        background: #2196f3;
      }
      &.delete {
        margin: auto 0 auto auto;
        background: #f44336;
      }
    }
  }
}
