.assigned_cases_container {
  &__header {
    display: flex;
    margin: 10px 60px;
    align-items: center;
    &__title {
      flex: 1;
      font-size: 64px;
      font-weight: bold;
    }
  }
  &__body {
    margin: 10px 60px;
    &__case {
      margin: 10px;
      padding: 20px 40px;
      border: 1px solid #eee;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.2s linear;
      &:hover {
        background: #eee;
        border: 1px solid #ddd;
        transform: scale(1.05);
        transition: 0.2s linear;
      }
      &__id {
        color: rgba($color: #000000, $alpha: 0.6);
      }
      &__title {
        margin: 10px 0;
        font-weight: bold;
      }
      &__description {
        font-style: italic;
      }
    }
  }
  .info {
    p {
      margin: 10px 0px;
    }
    .case_id {
      color: rgba($color: #000000, $alpha: 0.6);
      font-style: italic;
    }
  }
  .tasks {
    padding: 0px 10px;
    .tasks_title {
      font-size: 18px;
      font-weight: bold;
      margin: 10px;
    }
    .task_checkbox {
      margin: 5px;
      input {
        margin: 5px 15px;
      }
      label {
        font-size: 14px;
      }
    }
  }
  .actions {
    margin-top: 50px;
    display: flex;
    span {
      padding: 10px 15px;
      font-size: 18px;
      border-radius: 5px;
      color: #fff;
      transition: 0.2s linear;
      &.create_invoice {
        cursor: pointer;
        background: #4acf50;
        &:hover {
          transform: scale(1.05);
          transition: 0.2s linear;
        }
      }
      &.not-completed {
        cursor: default;
        background: #aaa;
      }
    }
  }
}
