p {
  margin: 0;
}
.analytics_container {
  &__header {
    display: flex;
    margin: 10px 60px;
    align-items: center;
    &__title {
      flex: 1;
      font-size: 64px;
      font-weight: bold;
    }
    &__action {
      background: rgba($color: #000, $alpha: 0.3);
      border-radius: 3px;
      padding: 10px 20px;
      font-size: 18px;
      cursor: pointer;
      color: #fff;
      transition: 0.2s linear;
      &:hover {
        background: rgba($color: #000, $alpha: 0.5);
        transform: scale(1.05);
        transition: 0.2s linear;
      }
    }
  }
  &__body {
    margin: 10px 100px;
    display: grid;
    grid-template-columns: auto auto;
    .open_cases {
      background: #f44336;
    }
    .closed_cases {
      background: #4acf50;
    }
    .lawyers {
      background: #2196f3;
    }
    .clients {
      background: #ff9800;
    }
    &__statistic {
      margin: 30px 50px;
      border-radius: 5px;
      padding: 20px;
      color: #fff;
      cursor: pointer;
      transition: 0.2s linear;
      &:hover {
        transform: scale(1.05);
        transition: 0.2s linear;
      }

      &__title {
        font-size: 32px;
      }
      &__date {
        font-weight: 18px;
        font-style: italic;
        color: rgba($color: #fff, $alpha: 0.8);
        margin: 10px 0;
      }
      &__total {
        font-weight: 24px;
      }
    }
  }
  .info {
    input {
      padding: 10px;
      display: block;
    }
    input[type="text"] {
      border: none;
      font-size: 16px;
      border-bottom: 1px solid #ddd;
      outline: none;
    }
    input[type="submit"] {
      margin: 10px 0;
      background: #2196f3;
      border-radius: 5px;
      color: #fff;
      transition: 0.2s linear;
      cursor: pointer;
      border: 1px solid #2196f3;
      font-size: 14px;
      &:hover {
        transform: scale(1.05);
        transition: 0.2s linear;
      }
    }
  }
}
