p {
  margin: 0;
}
.header_container {
  display: flex;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 3px #bbb;
  &__role {
    flex: 1;
    display: flex;
    padding: 10px;
    &__label {
      font-size: 24px;
      padding: 10px;
    }
    &__value {
      color: #fff;
      font-weight: bold;
      font-size: 24px;
      padding: 10px 20px;
      background: #f44336;
      border-radius: 20px;
    }
  }
  &__logout {
    font-size: 24px;
    padding: 20px;
    background: rgba($color: #000000, $alpha: 0.2);
    cursor: pointer;
    transition: 0.2s linear;
    &:hover {
      transition: 0.2s linear;
      background: rgba($color: #000000, $alpha: 0.4);
    }
  }
}
