* {
  box-sizing: border-box;
}
p {
  margin: 0;
}

.login_container {
  display: flex;
  align-items: center;
  height: 100vh;
  &__left {
    flex: 2;
    align-content: center;
    align-self: center;
    padding: 20px;
    &__title {
      text-align: center;
      font-size: 96px;
      margin: 60px 60px 20px;
      font-weight: bold;
    }
    &__description {
      text-align: center;
      margin: 0px 60px 60px;
      font-size: 48px;
      color: #444;
    }
  }
  &__right {
    flex: 1;
    padding: 20px 100px 20px 20px;

    &__title {
      margin: 10px 10px 60px;
      font-size: 24px;
      text-decoration: underline;
      text-align: center;
    }
    &__forms {
      &__error_message {
        margin: 0 20px;
        color: #f44336;
      }
      input {
        display: flex;
        padding: 20px;
        flex: 1;
        font-size: 18px;
        margin: 20px;
        width: 100%;
        outline: none;
      }
      input[type="submit"] {
        background: #f44336;
        border: 1px solid #f44336;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        &:hover {
          border: 1px solid rgba($color: #f44336, $alpha: 0.8);
          background: rgba($color: #f44336, $alpha: 0.8);
        }
      }
    }
  }
}
